#lintings .listing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.listing {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.listing h3 {
    margin: 0;
    padding-bottom: 10px;
}

.listing p {
    margin: 0;
}
